/* PopularRecipes.css */

.popular-recipes {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.results-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Styles pour chaque carte */
.result-card {
  flex: 1 1 calc(25% - 20px); /* 4 cartes par ligne */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.result-card:hover {
  transform: translateY(-5px);
}

.result-card img {
  width: 100%;
  height: auto;
}


.result-card h3 {
  text-align: center;
  margin: 10px;
}

.result-card a {
  display: block;
  padding: 10px;
  text-align: center;
  background-color: #ff6347;
  color: white;
  text-decoration: none;
  border-radius: 0 0 10px 10px;
}

.result-card a:hover {
  background-color: #ff4500;
}

/* Media queries pour ajuster le nombre de cartes par ligne sur différents écrans */
@media (max-width: 1024px) {
  .result-card {
    flex: 1 1 calc(33.33% - 20px); /* 3 cartes par ligne pour les écrans moyens */
  }
}

@media (max-width: 768px) {
  .result-card {
    flex: 1 1 calc(50% - 20px); /* 2 cartes par ligne pour les écrans petits */
  }
}

